/* resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
/* end of resets */

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(100deg, #575656, #062e3f);
  min-height: 100vh;
}

header {
  font-size: 1rem;
  color: #ffdfdb;
}

header,
.main-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.main-wrapper {
  max-width: 600px;
  margin: 0 auto;
  gap: 2rem;
  background: #78787845;
  box-shadow: #0000003d 0px 3px 8px;
  backdrop-filter: blur(5px);
  border: 2px solid #7878784d;
  border-radius: 5px;
  padding: 0 20px 2.5rem;
}

form {
  width: 100%;
  margin: 0 auto;
}

form input,
form button {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: #181a1a;
  color: #ffdfdb;
}

form button {
  color: #fff;
  font-weight: 600;
  background-color: #0d538c;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #0d538c;
    background-color: #fff;
  }
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .list {
    /* min-width: 30%; */
    min-width: 400px;
  }

  .todoList {
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: #78787845;
    backdrop-filter: blur(5px);
    color: #ffdfdb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }

  .todoList li {
    flex: 1;
  }

  .check-btn,
  .delete-btn {
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
  }

  .check-btn {
    background-color: #318a31;
    font-weight: 600;

    &:hover {
      background-color: #fff;
      color: #318a31;
    }
  }

  .delete-btn {
    background-color: #c12f24;

    &:hover {
      background-color: #fff;
      color: #c12f24;
    }
  }

  .new-todo {
    padding: 0 0.5rem;
  }

  .fa-trash-can,
  .fa-check {
    pointer-events: none;
  }

  /* .completed {
    text-decoration-thickness: 4rem;
  } */

  .delete-animation {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }
}
